@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Creator</h1>
    <p class="lead">Create your Characters and your world and populate it. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Select any of the tabs and build the world you wish with the characters the live within it.
        </p>
    </div>
    
</div>